language : android
jdk: oraclejdk8

env:
  global:
    - ANDROID_API_LEVEL=27
    - EMULATOR_API_LEVEL=22
    - ANDROID_BUILD_TOOLS_VERSION=27.0.3
    - ANDROID_ABI=armeabi-v7a

addons:
  artifacts:
   paths:
     - $(git ls-files -o)

android:
  components:
    - tools
    - platform-tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$EMULATOR_API_LEVEL
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-$EMULATOR_API_LEVEL

cache:
  directories:
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"
    - "$HOME/.android/build-cache"

before_install:
  - yes | sdkmanager "platforms;android-27"

before_script:
  - chmod +x gradlew
  - echo no | android create avd --force -n test -t android-$EMULATOR_API_LEVEL --abi $ANDROID_ABI
  - emulator -avd test -no-audio -no-window &
  - android-wait-for-emulator

script:
  - ./gradlew build jacocoTestReport assembleAndroidTest
  - cat codecov.yml | curl --data-binary @- https://codecov.io/validate
  - ./gradlew connectedCheck

after_success:
  - bash <(curl https://codecov.io/bash) -t CODECOV_TOKEN

